<div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
    
        <div class="x_panel">
            
            <div class="x_title">
                <h2>Pavimentos<small>Lista de pavimentos da universidade</small></h2>            
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="dt-buttons btn-group" style="margin-bottom: 5px">
                    <a class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons" href="#campus/new"><span>Novo</span></a>                
                </div>

                <table class="table table-striped jambo_table">
                    <thead>
                        <tr class="headings">                            
                            <th class="column-title">Campus </th>
                            <th class="column-title">Bloco </th>
                            <th class="column-title">Nivel </th>
                            <th class="column-title no-link last" style="text-align: center;"><span class="nobr">Ações</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="pavimento in pavimentos | orderBy:['bloco.campus.nome','bloco.nome','nivel']">
                            <td class=" ">{{ ::pavimento.bloco.campus.nome }}</td>
                            <td class=" ">{{ ::pavimento.bloco.nome }}</td>
                            <td class=" ">{{ ::pavimento.nivel }}</td>
                            <td class=" last" style="width: 80px">
                                <a class="btn btn-primary btn-xs" href="#pavimentos/edit/{{ ::pavimento.id }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-xs" ng-click="excluir(pavimento)"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>      
            </div>
        </div>
    </div>
</div>