<style>

    #desenho {
        padding: 0px;
        height: 550px;
    }

    ul.quick-list {
        width: 100%;
    }

</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Edição de Mapas</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div class="x_title">
                            <h4><i class="fa fa-sitemap"></i> Estrutura da Universidade</h4>                            
                            <div class="clearfix"></div>
                        </div>
                        <tree-view tree-service="estService" node-label="name" item-class="pull-left"></tree-view>
                    </div>
                    
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div id="desenho"></div>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <ul class="quick-list">
                            <li><i class="fa fa-floppy-o"></i><a href="" ng-click="salva()"> Salvar </a></li>
                            <li><i class="fa fa-map-o"></i><a href="" ng-click="enviaPlanta()"> Enviar Planta </a></li>
                            <li><i class="fa fa-dot-circle-o"></i><a href="" ng-click="novoVertice()"> Novo Vertice </a></li>
                            <li><i class="fa fa-trash-o"></i><a href="" ng-click="removeSelecionado()"> Remover </a></li>
                            <li><i class="fa fa-list-alt"></i><a href="" ng-click="propriedades()"> Propriedades </a></li>                        
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>