<style>
    #opcoes {
        position: absolute; 
        top: 10px; 
        /*width: 100%;*/
        text-align: left; 
    }

    #desenho {
        width: 100%;
        height: 100%;
        padding: 0px;
        float: left;
    }
    
</style>

<div id="opcoes">
    <ul>
        <li> <a href="" ng-click="salva()"> Salvar </a> </li>
        <li> <a href="" ng-click="enviaPlanta()"> Enviar Planta </a> </li>
        <li> <a href="" ng-click="novoVertice()"> Novo Vertice </a> </li>
        <li> <a href="" ng-click="removeSelecionado()"> Remover </a> </li>        
        <li> <a href="" ng-click="propriedades()"> Propriedades </a> </li>
    </ul>
</div>

<div id="desenho"></div>